<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <link
        rel="stylesheet"
        href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
        crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merienda&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="./assets/css/style.css"></link>
    <title>Hotlist</title>
</head>
<body>
    <header>
        <div>
            <h1>
                <a href="/">Overage<span>Hot</span>list</a>
            </h1>
        </div>
        <nav>
            {{#if loggedIn}}
            {{!-- <a href="/dashboard">Dashboard</a> --}}
            <a href="/hotlist">Hotlist</a>
            <a href="/" id="logout">logout</a>
            {{else}}
            <a href="/">login</a>
            {{/if}}
        </nav>
    </header>
    <main class="d-flex">
        {{{ body }}}
    </main>
    <!-- footer section  -->
    <footer id="footer" class="mt-auto fixed-bottom">
        <h2>
           <a href="uintacrypto.net">UintaCrypto 2021&#169;</a>
        </h2>
    </footer>
    <!-- modal section  -->

    

    <script src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="assets/js/add-defendant.js"></script>
</body>
</html>