<div id="form-div" class="col-2 h-100">
        <div class="mt-3">
        <h2 class="form-text"><i class="fa fa-upload fa-5x" aria-hidden="true"></i></h2>
        <div id="upzone">
            <h5>Drag File Here</h5>
         </div>
        <div id="upstat"></div>
            <form id="form-div" class="mt-2">
            <button class="button" id="addDefBtn">Add Defendant</button>
                {{!-- <input class="button" type="file" name="upfile" accept=".pdf"> --}}
                <input class="button" type="submit" value="Upload File">
            </form>
        </div>
</div>
<div id="Hotlist" class="col-8 flex-d border border-dark">
    <div id="sort-bar" class="row">
        <div class="col"><a>Defendant</a></div>
        <div class="col"><a>Sale Date</a></div>
        <div class="col text-right"><a>Value</a></div>
    </div>
    <ul class="col-12 m-2" id="hotlist-ul">
        {{> hotlist-item}}

    </ul>
</div>
<div id="feed" class="col-2 scroll">
    <a class="twitter-timeline" href="https://twitter.com/TwitterDev?ref_src=twsrc%5Etfw">Tweets by TwitterDev</a> 
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="imageModal">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">DEFENDANT PROFILE</h4>
        </div>
        <div class="modal-body">
            <div>
                <p>Parcel-ID:&nbsp;<span id="modal-parcel-id"></span></p>
                <p>Defendant:&nbsp;<span id="modal-def-name"></span></p>
                <p>Co-Defendant:&nbsp;<span id="modal-co-def"></span></p>
                <p>Amount Owed:&nbsp;<span id="modal-amount"></span></p>
                <p>Date of Sale:&nbsp;<span id="modal-sale-date"></span></p>
                <p>Address:&nbsp;<span id="modal-address"></span></p>
                <p>City/State:&nbsp;<span id="modal-city-state"></span></p>
            </div>
            <iframe width="400" height="400" frameborder="1" scrolling="no" src="https://arcg.is/0a88fm"></iframe>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="assets/js/logout.js"></script>
<script src="assets/js/add-def.js"></script>
<script src="assets/js/modal.js"></script>
