<div id="form-div" class="col-2 h-100">
        <div class="mt-3">
        <h2 class="form-text"><i class="fa fa-upload fa-5x" aria-hidden="true"></i></h2>
        <div id="upzone">
            <h5>Drag File Here</h5>

        </div>
        <div id="upstat"></div>
        <form id="form-div" class="mt-2">
            {{!-- <input class="button" type="file" name="upfile" accept=""> --}}
            <input class="button" type="submit" value="Upload File">
        </form>
        </div>
</div>
<div id="Hotlist" class="col-8 flex-d border border-dark">
<ul class="col-12 m-2">
   <div class="container">
        <form class="form">
            <div>
                <h2>New Defendant</h2>
                <p>Fill out the fields below to add a new defendant to the database</p>
                <label for="parcel-id">Parcel-ID:</label>
                <input type="text" id="parcel-id" required>
                <label for="def-name">Defendant:</label>
                <input type="text" id="def-name" required>
                <label for="co-def">Co-Defendant:</label>
                <input type="text" id="co-def">
                <label for="amount">Amount:</label>
                <input type="text" id="amount" required>
                <label for="sale-date">Sale Date:</label>
                <input type="text" id="sale-date" required>
                <label for="address">Owners mailing address:</label>
                <input type="text" id="address">
                <label for="city-state"></label>
                <input type="text" id="city-state">
                <button type="submit" id="def-submit">Submit</button>
            </div>
        </form>
    </div>
</ul>
</div>
<div id="feed" class="col-2 scroll">
    <a class="twitter-timeline" href="https://twitter.com/TwitterDev?ref_src=twsrc%5Etfw">Tweets by TwitterDev</a> 
</div>

<script src="assets/js/add-defendant.js"></script>
