<form class="sign-up">
    <div>
        <label for="username">Username:</label>
        <input type="text" id="username-sign-up" />
    </div>
    <div>
        <label for="email-sign-up">Email:</label>
        <input type="text" id="email-sign-up" />
    </div>
    <div>
        <label for="password-sign-up">Password:</label>
        <input type="text" id="password-sign-up" />
    </div>
    <div>
        <label for="phone-number-sigh-up">Phone Number:</label>
        <input type="text" id="phone-number-sign-up">
    </div>
</form>