:root {
    --primary-color: rgb(248, 71, 17);
    --secondary-color: rgb(136, 11, 136);
}

body {
    height: 100vh;
}

body main {
    height: 100vh;
}

header {
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: var(--secondary-color);
}

header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    color: var(--primary-color);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header a {
    text-decoration: none;
    color: var(--primary-color);
    font-family: 'Ramabhadra', sans-serif;
}

header a span {
    color: red;
}

header nav {
    margin: 4px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 30px;
    font-weight: lighter;
    font-size: 1.vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
}

footer {
    background: var(--secondary-color);
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

footer h2 a {
    color: var(--primary-color);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}


#form-div {
    background-color: rgb(71, 71, 112);
    height: 100vh;
}

.button {
    background-color: #fa8bff;
    background-image: linear-gradient(45deg, #FA8BFF 0%, #2bd2ff 52%, #2bff88 90%);
    transition: all .5s ease-out;
    background-size: 1px 100px;
    background-position: 0 -10px;
}

.button-clr {
    background-color: #ea0028;
    background-image: linear-gradient(180deg, #ff9a8b 0%, #ea0028 100%);
    transition: all .5s ease-out;
    background-size: 1px 100px;
    background-position: 0 -10px;
}

.button:hover, .button-clr:hover {
    background-position: 1px -50px;
}

.form-text {
    color: var(--primary-color);
}
#hotlist {
    background-color: gray;
}

#sort-bar {
    background-color: grey;
}

#feed {
    height: 100vh;
    overflow: auto;
}